<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUpHtml</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        Username:
        <br><input type="text" name="username">
    </div>
    <div>
        Passwrod:
        <br><input type="password" name ='password'>
    </div>
    <div>
        ConfirmPasswrod:
        <br><input type="password" name ='confirmpassword'>
    </div>
    <div>
        Email:
        <br><input type="email" name ='email'>
    </div>
    <div>
        <input type="submit" value="Creat an account">
    </div>

</form>

</body>
</html>